rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents/courses/{courseId} {
    allow read: if true; //or allow read; is that the same Effect.
    
   

   
  }
}