
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents { 

    function isAuthenticated() {
       return request.auth.uid != null;
    }

    match /courses/{courseId} {
      allow read: if  isAuthenticated();
        match /lessons/{lessonId} {
          allow read: if  isAuthenticated();    
        }
    }
  }


}//end Rules