
<div class="login">

  <h2>Sign In</h2>
  <!-- Is a Container CSS firebaseui-auth-container -->
 <!-- Div that is going to contain all user interface of Firebase UI -->
 <!-- So this is going all the login buttons that we want to add to our application -->
 <!-- In our case logi with Google and Sign in with use email and password -->
 <!-- Firebase UI that is going to ADD contemt inside this particular DIV and Not ANGULAR -->
  <div id="firebaseui-auth-container" class="auth-container">


  </div>

</div>

